.container-fluid{
    padding-right:0;
    padding-left:0; 
    min-height: 100vh !important;
}
.successIcon{
    color:green;
}
.errorIcon{
    color:red;
}
i{
    cursor:pointer;
}

.h100{
    min-height: 100vh !important;
}